:root {
  --limey: hsl(130, 100%, 50%);
  --purple: hsl(269 41% 51% / 1);
  --purpler: #4b2d6c;
  --dark: #373737;
  --dark-faded: hsl(0 100% 0% / .1);
  --darker: #161616;
  --light: #eaeaea;
  --lighter: #f1f1f1;
  --yellow: hsl(50 100% 60% / 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}