@import '../../variables.css';

.gallery__container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem;; */
}

.gallery__header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue_default);
  padding: .5rem 1rem;
  border-radius: .2rem .2rem 0 0;
}

.gallery__header--control {
  color: var(--yellow_bartext);
  font-size: .8rem;
}

.gallery__header--title {
  font-weight: 700;
}

.gallery__body--container {
  display:  flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--dark);
  padding: 1rem;
}

.gallery__tile {
  background-color: var(--darker);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.gallery__tile--title {
  background-color:rgb(45 137 169 / 1);
  width: 100%;
  padding: .1rem .3rem;
  font-size: .8rem;
}

.gallery__tile--image {
  background-color: white;
  max-width: 400px;
}

.gallery__tile--stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem
}

.gallery__tile--stat {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .7rem;
}

.large-stat {
  font-size: .8rem;
}

.blue-text {
  color: var(--blue_default);
}

@media only screen and ( max-width: 400px ) {
  .gallery__tile {
    width: 100%;
  }
}